<div class='wrapper'>
  <h1>My Games</h1><%= link_to 'New Game', new_game_path %>
  <h2>Games I'm Hosting</h2>
    <ul>
      <% @my_hosted_games.each do |game| %>
        <li>
          <%= link_to(game_path(game)) do %>
            <%= game.event_date %> | <%= game.honoree_name %> | password protected: <%= game.require_password %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <h2>Games I'm Playing</h2>
    <ul>
      <% @my_played_games.each do |game| %>
        <li>
          <%= link_to(game_path(game)) do %>
            <%= game.event_date %> | <%= game.honoree_name %> | password protected: <%= game.require_password %>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>
