<div class='wrapper'>
  <h1>My Games</h1><%= link_to 'New Game', new_game_path %>
  <h2>Games I'm Hosting</h2>
    <ul>
      <% @my_hosted_games.each do |game| %>
        <li>
          <%= link_to(game_path(game)) do %>
            <%= game.event_date %> | <%= game.honoree_name %> | password protected: <%= game.require_password %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <h2>Games I'm Playing</h2>
    <ul>
      <% @players_games_array.each do |i| %>
        <li>
          <%= link_to(player_path(i[:player])) do %>
            <%= i[:game].honoree_name %>' s baby shower on <%= i[:game].event_date.to_formatted_s(:long) %>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>
