<%= link_to 'Back', my_games_path, class: 'back-button' %>

<div class='game-heading'>
  <div class='game-edit-link-wrapper'>
    <%= link_to(edit_game_path(@game), class: 'game-edit-link') do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </div>

  <h4>Shower date</h4>
  <h2><%= @game.event_date.to_formatted_s(:long) %></h2>
  <h4>In honor of</h4>
  <h2><%= @game.honoree_name %></h2>
  <h4>Hosted by</h4>

  <% @host_names.each do |name| %>
    <h3><%= name %></h3>
  <% end %>

  <% if @game.require_password %>
    <p>
      <em> Answers will be password protected </em>
    </p>
  <% end %>
  <div class='play-button'>
    <%= link_to 'Play', play_game_path(@game), class: 'play-link' %>
  </div>
</div>

<div id='players-heading-wrapper'>
  <h3 id='players-heading'>Players</h3>
  <div class='add-player-button-wrapper'>
    <%= link_to(new_game_player_path(@game), class: 'add-player-button') do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
</div>

<% @players.each do |player| %>
  <div class='player-photo'>
    <% if player[:aws_s3_bucket] != nil %>
      <%= image_tag("https://s3.amazonaws.com/#{player[:aws_s3_bucket]}/#{player[:aws_s3_key]}") %>
    <% else %>
      <%= image_tag("https://s3.amazonaws.com/kathleen-namethatbaby/photos/baby_icon_gray.png") %>
    <% end %>
  </div>
  <div class='player-details'>
    <p><%= link_to player[:name], edit_player_path(player[:id]) %></p>
    <p><%= player[:email] %></p>
  </div>
<% end %>


