<div class='wrapper'>
  <div class='wrapper'>
    <div class='navbar'>
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  <p><%= link_to 'back to My Games', my_games_games_path(:user => {:email => @my_email}) %></p>
  <h3><%= @game.event_date %></h3>
  <h2><%= @game.honoree_name %></h2>

  <% if @game.require_password %>
    <p>
      <em> Answers will be password protected </em>
    </p>
  <% end %>

  <ul>
    <li><%= link_to 'Play', play_game_path(@game) %></li>
    <li><%= link_to 'Edit', edit_game_path(@game) %></li>
  </ul>

  <h4>Player overview</h4>

  <ol>
    <% @players.each do |player| %>
      <li>
        <%= link_to player.name, edit_player_path(player) %> |
        <%= player.email %> |
        <%= player.aws_s3_bucket %> |
        <%= player.aws_s3_key %>
      </li>
    <% end %>
  </ol>
</div>


