<div class='wrapper'>
  <%= form_for @player do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='flip'>
      <% if @current_upload != nil %>
        <%= image_tag("https://s3.amazonaws.com/#{@current_upload[:aws_s3_bucket]}/#{@current_upload[:aws_s3_key]}") %>
      <% else %>
        <%= image_tag("https://s3.amazonaws.com/kathleen-namethatbaby/photos/baby_icon_gray.png") %>
        <%= link_to 'New photo', new_player_upload_path(@player) %>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Delete Player', player_path(@player), method: :delete, data: {confirm: 'Are you sure you wish to delete this player?'} %>
</div>
