<%= form_for @player do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= image_tag("https://s3.amazonaws.com/"+@player[:aws_s3_bucket]+"/"+@player[:aws_s3_key]) %>
  </div>
  <%= f.submit %>
<% end %>
