<div class='wrapper'>
  <%= form_for @player do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='flip'>
      <% if @player.aws_s3_bucket != nil %>
        <%= image_tag("https://s3.amazonaws.com/#{@player[:aws_s3_bucket]}/#{@player[:aws_s3_key]}") %>
      <% else %>
        <%= image_tag("https://s3.amazonaws.com/kathleen-namethatbaby/photos/baby_icon_gray.png") %>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
