<%= render 'errors', {player: @player, user: @user} %>

<%= link_to 'Back', player_path(@player)%>

<h2>Edit my information</h2>

<%= form_for @player do |f| %>
  <%= render 'name_and_email', {user: @user, f: f} %>

  <%= render 'current_upload', {player: @player, current_upload: @current_upload} %>

  <%= f.submit %>
<% end %>

