<div class='wrapper'>
  <div class='nav-links-inverted'>
    <%= link_to 'Back', game_path(@game)%>
  </div>
  <%= form_for @player, url: game_players_path(@game) do |f| %>
    <div class='form-field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='form-field'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
