<div class='wrapper'>
  <div class='errors'>
    <% if @player.errors.any? %>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= link_to 'Back', game_path(@game)%>

  <h2>New player</h2>

  <%= form_for @player, url: game_players_path(@game) do |f| %>
    <div class='form-field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='form-field'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='form-field'>
      <%= f.label :is_host, class: 'checkbox-label' %>
      <%= f.check_box :is_host %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
