<!DOCTYPE html>
<html>
  <head>
    <title>Name That Baby</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <div id='logo'>
          <%= link_to 'Name That Baby', root_path %>
        </div>
          <nav>
            <div class='nav-links'>
              <% if user_signed_in? %>
                <%= link_to(edit_user_registration_path) do %>
                  <%= current_user.email %>
                <% end %>
                <strong> | </strong>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              <% elsif session[:email] %>
                <%= link_to 'Convert to User', new_user_registration_path %>
              <% else %>
                <%= link_to 'Sign Up', new_user_registration_path %>
              <% end %>
            </div>
          </nav>
        <div class='notice'><p><%= notice %></p></div>
        <div class='alert'><p><%= alert %></p></div>
      </div>
      <div class='content'>
          <%= yield %>
        <div class='params_in_dev'>
          <% if Rails.env.development? %>
            <%= params.inspect %> <br>
            Session email: <%= session[:email] %> <br>
            Session key: <%=  session[:guest_key] %>
          <% end %>
        </div>
      </div>
      <footer class='footer'>
        <div class='signature-container'>
          <div class='signature'>
            <i class='fa fa-copyright'></i> 2016 Kathleen Csizmadia.
          </div>
        </div>
      </footer>
    </div>
  </body>

</html>
